
.star-cb-group-blue {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
}
.star-cb-group-blue * {
    font-size: 40pt;
}
.star-cb-group-blue > input {
    display: none;
}
.star-cb-group-blue > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group-blue > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}
.star-cb-group-blue > input:checked ~ label:before, .star-cb-group-blue > input + label:hover ~ label:before, .star-cb-group-blue > input + label:hover:before {
    content: "★";
    color: #4d85d1;
}
.star-cb-group-blue > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
}
.star-cb-group-blue > .star-cb-clear + label:before {
    width: .5em;
}
.star-cb-group-blue:hover > input + label:before {
    content: "☆";
    color: #888;
}
.star-cb-group-blue:hover > input + label:hover ~ label:before, .star-cb-group-blue:hover > input + label:hover:before {
    content: "★";
    color: #4d85d1;
}